# Node
node_modules/
dist/
build/
.env

# Database
backend/prisma/dev.db
backend/prisma/dev.db-journal
*.db
*.db-journal

# Cloudflare tunnel binaries & logs
cloudflared.exe
cloudflared
*.log

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
